:root {
  --mainBlue: #5e6bb6e1;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --textPink: #f16fc4e0;
}

body {
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-blue {
  color: var(--textPink);
}

.text-bright {
  color: var(--lightBlue);
}
